<h1>Add Goal</h1>

<form action="/goals" method="Post">
<h2>Goal</h2>
<label>Name:</label><br>
<input type="text" name="goal[name]"><br>
<label>Description:</label><br>
<input type="textarea" name="goal[description]"><br>
<label>Deadline:</label><br>
<input type="text" name="goal[deadline]"><br>
<input type="submit" value="Create Goal">
