<h1>Add Goal</h2>

<form action="/goal" method="Post">
<br>
Goal Name: <input type="text" name="goal[name]">
<br>
Goal Description: <input type="text" name="goal[description]">
<br>
Goal Deadline: <input type="text" name="goal[deadline]">
