<h1>Add Goal</h1>
<br>
<br>
<form action="/goals" method="Post">
<h2>Goal</h2>
<label>Name:</label><br>
<input type="text" name="goal[name]"><br>
<label>Description:</label><br>
<input type="textarea" name="goal[description]"><br>
<label>Deadline:</label><br>
<input type="text" name="goal[deadline]"><br><br>

<h4> Choose Plan for Goal</h4>
<% @plan.each do |plan| %>
   <br><label><%= plan.name %></label>
    <input type="checkbox" name="plan[plan_ids][]" value="<%= plan.name%>">
  <% end %><br><br>
<input type="submit" value="Create Goal">
