<h1>Make Plan</h1>

<form action="/goal" method="Post">
<h2>Goal</h2>
<label>Name:</label>
 <input type="text" name="goal[name]">
<label>Description:</label>
<input type="textarea" name="goal[description]">
<label>Deadline:</label> 
<input type="text" name="goal[deadline]"><br><br>


<h3>Objective #1 </h3>
<label>Name:</label>
<input text="objective[name]">
<label>Description:</label>
<input text="objective[description]">
<label>Deadline:</label>
<input text="objective[deadline]"><br><br>

<h4>Strategy for Objective #1 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h4>Strategy for Objective #1 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h4>Strategy for Objective #1 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #1 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>


<h3>Objective #2 </h3>
<label>Name:</label>
<input text="objective[name]">
<label>Description:</label>
<input text="objective[description]">
<label>Deadline:</label>
<input text="objective[deadline]"><br><br>

<h4>Strategy for Objective #2 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h4>Strategy for Objective #2 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h4>Strategy for Objective #2 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #2 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h3>Objective #3 </h3>
<label>Name:</label>
<input text="objective[name]">
<label>Description:</label>
<input text="objective[description]">
<label>Deadline:</label>
<input text="objective[deadline]"><br><br>

<h4>Strategy for Objective #3 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h4>Strategy for Objective #3 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h4>Strategy for Objective #3 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #3 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h3>Objective #4 </h3>
<label>Name:</label>
<input text="objective[name]">
<label>Description:</label>
<input text="objective[description]">
<label>Deadline:</label>
<input text="objective[deadline]"><br><br>

<h4>Strategy for Objective #4 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h4>Strategy for Objective #4 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h4>Strategy for Objective #4 </h4>
<label>Routine:</label>
<input text="strategy[routine]">
<label>Deadline:</label>
<input text="strategy[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>

<h5>Tactic for Objective #4 </h5>
<label>Action:</label>
<input text="tactic[action]">
<label>Deadline:</label>
<input text="tactic[deadline]"><br><br>
