<h1>Add Strategy</h1>
<br>
<h4>Create Strategy</h4><br>
<form action="/strategies" method="Post">
<label>Routine:</label><br>
<input type="text" name="strategy[routine]"><br>
<label>Deadline:</label><br>
<input type="text" name="strategy[deadline]"><br><br>

<h4> Choose Goal for Strategy</h4>
<% @goals.each do |goal| %>
   <br><label><%= goal.name %></label>
    <input type="checkbox" name="goal[goal_ids][]" value="<%= goal.name%>">
  <% end %>
  <br>
  <br>
<h4> Choose Objective for Strategy</h4>
<% @objectives.each do |objective| %>
   <br><label><%= objective.name %></label>
    <input type="checkbox" name="objective[objective_ids][]" value="<%= objective.name%>">
  <% end %>
  <br>
<input type="submit" value="Create Strategies">