<h1>Add Strategy</h1>

<form action="/strategies" method="Post">
<label>Routine:</label>
<input type="text" name="strategy[routine]">
<label>Deadline:</label>
<input type="text" name="strategy[deadline]"><br><br>

<input type="submit" value="Create Plan">