<h1>Add Plan</h1>
<br>
<form action="/plans" method="Post">
<label>Name:</label><br>
<input type="text" name="plan[name]"><br>
<label>Description:</label><br>
<input type="textarea" name="plan[description]"><br>
<label>Deadline:</label><br>
<input type="text" name="plan[deadline]"><br>
  <br>
<input type="submit" value="Create Plan">

