<h1>Objective 4 Strategies</h1><br>

<h4> Add Objective </h4>
<form action="/objective4s" method="Post">
<% @objective4s.each do |objective4| %>
  <br><label><%= objective4.name %></label>
   <input type="checkbox" name="objective4[objective_ids][]" value="<%= objective4.name %>"><br><br>
 <% end %>

<h4>Create Strategies</h4><br>

<label>Name:</label>
<input type="text" name="strategy1[name]">
<label>Description:</label>
<input type="textarea" name="strategy1[description]">
<label>Deadline:</label>
<input type="text" name="strategy1[deadline]"><br><br>

<label>Name:</label>
<input type="text" name="strategy2[name]">
<label>Description:</label>
<input type="textarea" name="strategy2[description]">
<label>Deadline:</label>
<input type="text" name="strategy2[deadline]"><br><br>

<label>Name:</label>
<input type="text" name="strategy3[name]">
<label>Description:</label>
<input type="textarea" name="strategy3[description]">
<label>Deadline:</label>
<input type="text" name="strategy3[deadline]"><br><br>

<label>Name:</label>
<input type="text" name="strategy4[name]">
<label>Description:</label>
<input type="textarea" name="strategy4[description]">
<label>Deadline:</label>
<input type="text" name="strategy4[deadline]"><br><br> 
 <br>
<input type="submit" value="Create">


