<h1>Objective 3</h1><br>

<h4> Add Objective </h4><br>
<form action="/objective_3s" method="Post">
<label>Name:</label><br>
<input type="text" name="objective_3[name]"><br>
<label>Description:</label><br>
<input type="textarea" name="objective_3[description]"><br>
<label>Deadline:</label><br>
<input type="text" name="objective_3[deadline]"><br><br>

<h4> Choose Goal for Objective 3</h4>
<% @goals.each do |goal| %>
   <br><label><%= goal.name %></label>
    <input type="checkbox" name="goal[goal_ids][]" value="<%= goal.name%>">
  <% end %> 
 <br>
 <br>
<input type="submit" value="Create Objective 3">

