<h1>Tactic</h1>

<form action="/strategies" method="Post">
<label>Action:</label>
<input type="text" name="tactic[action]">
<label>Deadline:</label>
<input type="text" name="tactic[deadline]"><br><br>
<input type="submit" value="Create Plan">