<h1> <%= @tactic.name %></h1>
<h3><%= @tactic.description %> </h3>
<h3> <%= @tactic.deadline %></h3>

<h3> Tasks</h3>
<ul>
<% @tactic.tasks.each do |tactic| %>
    <li><%= tactic.name %></li>
    <% end %>
</ul>


