<h1>Strategies for Objective 1</h1><br>

<h4>Choose Goal and Objective </h4>
<form action="/objective1s" method="Post">
<% @objectives.each do |objective| %>
  <br><label><%= objective.name %></label>
   <input type="checkbox" name="objective[objective_ids][]" value="<%= objective.name %>"><br><br>
 <% end %>

<h4> Create Strategies</h4><br>

<label>Name:</label>
<input type="text" name="strategy1[name]">
<label>Description:</label>
<input type="textarea" name="strategy1[description]">
<label>Deadline:</label>
<input type="text" name="strategy1[deadline]"><br><br>

<label>Name:</label>
<input type="text" name="strategy2[name]">
<label>Description:</label>
<input type="textarea" name="strategy2[description]">
<label>Deadline:</label>
<input type="text" name="strategy2[deadline]"><br><br>

<label>Name:</label>
<input type="text" name="strategy3[name]">
<label>Description:</label>
<input type="textarea" name="strategy3[description]">
<label>Deadline:</label>
<input type="text" name="strategy3[deadline]"><br><br>

<label>Name:</label>
<input type="text" name="strategy4[name]">
<label>Description:</label>
<input type="textarea" name="strategy4[description]">
<label>Deadline:</label>
<input type="text" name="strategy4[deadline]"><br><br>

<input type="submit" value="Create">

